# Auto detect text files and perform LF normalization
*        text=auto

# Always perform LF normalization on these files
*.dart   text
*.gradle text
*.html   text
*.java   text
*.json   text
*.md     text
*.py     text
*.sh     text
*.txt    text
*.xml    text
*.yaml   text
# Make sure that these Windows files always have CRLF line endings in checkout
*.bat    text eol=crlf
*.ps1    text eol=crlf
# Never perform LF normalization on these files
*.ico    binary
*.jar    binary
*.png    binary
*.zip    binary
*.ico !text !filter !merge !diff
*.jar !text !filter !merge !diff
*.png !text !filter !merge !diff
*.zip !text !filter !merge !diff
*.filamat !text !filter !merge !diff
*.hdr !text !filter !merge !diff
*.ktx !text !filter !merge !diff
*.bin !text !filter !merge !diff
*.glb !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.mp4 !text !filter !merge !diff
*.mov !text !filter !merge !diff
*.ttf !text !filter !merge !diff
*.otf !text !filter !merge !diff
*.woff !text !filter !merge !diff
*.woff2 !text !filter !merge !diff
*.bdf !text !filter !merge !diff
*.ttc !text !filter !merge !diff
