# Below is a list of Flutter team members who are suggested reviewers
# for contributions to packages in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/camera/**                                   @jwinarske
packages/video_player/**                             @jwinarske
packages/webview/**                                  @jwinarske